

/* ----------- iPhone  ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {

}


/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
}






/* Navbar */
.navbar {
    background-color: white;
    color: black; /* Modifica il colore del testo per renderlo visibile sullo sfondo bianco */
}

.nav-link:hover {
    color: #e2ba1f;
    cursor: pointer;
}

/* Main section */
.main {
    background: rgb(2, 0, 36);
    background-image: url(/pics/1bo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 110vh;
}

.testo {
    margin-top: 50px;
    margin-left: 300px;
}

h1 {
    color: #e2ba1f;
}

h2 {
    color: chocolate;
}

.main h1 {
    font-size: 3rem;
    font-weight: 600;
}

//* Navbar */
.navbar {
    background-color: white;
    color: black;
}

.nav-link:hover {
    color: #e2ba1f;
    cursor: pointer;
}

/* Main section */
.main {
    background: rgb(2, 0, 36);
    background-image: url(/pics/1bo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main h1 {
    color: #e2ba1f;
    font-size: 3rem;
    font-weight: 600;
}

/* Navbar responsive */
@media (max-width: 768px) {
    .navbar-toggler {
        color: black;
        border-color: black;
    }

    .navbar-nav {
        flex-direction: column;
        text-align: center;
    }
}


  
  /* Footer */
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
  }

  
  

  
  body {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(31, 31, 41, 1) 0%, rgba(2, 6, 6, 1) 100%);
  }
  
  h4 {
    color: white;
  }
  
  .modal-video-container {
    position: relative;
    padding-bottom: 56.25%;
    /* Imposta l'aspect ratio a 16:9 */
    padding-top: 30px;
    height: 0;
    overflow: hidden;
  }
  
  .modal-video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  
  /* Rendi le card a 2 per riga su schermi medio-piccoli */
  @media (max-width: 768px) {
    .card-flyer {
      width: calc(50% - 40px); /* Imposta la larghezza delle card in modo da avere 2 card per riga */
    }
  }
  
  /* Rendi le card a 1 per riga su schermi piccoli */
  @media (max-width: 576px) {
    .card-flyer {
      width: calc(100% - 40px); /* Imposta la larghezza delle card in modo da avere 1 card per riga */
    }
  }
  
  
  /* Modal Video */
  .modal-video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
  }
  
  .modal-video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  /* Background */
  body {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(31, 31, 41, 1) 0%, rgba(2, 6, 6, 1) 100%);
  }
  
  h4 {
    color: white;
  }
  
  h1, h2, h4 {
    text-align: center; /* Centra il testo */
    margin-left: auto; /* Imposta il margine sinistro automatico */
    margin-right: auto; /* Imposta il margine destro automatico */
  }
  .table {
    border-radius: 10px; /* Aggiungi un bordo arrotondato alla tabella */
    overflow: hidden; /* Assicura che il bordo arrotondato sia visibile */
    border-spacing: 0; /* Imposta lo spazio tra le celle */
    margin: 15px auto; /* Imposta i margini automatici per centrare la tabella */
    padding: 0 20px; /* Aggiunge del padding sia a destra che a sinistra della tabella */
    width: fit-content; /* Imposta la larghezza della tabella in modo che si adatti al contenuto */
  }
  
  .table th,
  .table td {
    text-align: center; /* Centra il testo all'interno delle celle della tabella */
  }

  /* Personalized color for titles */
  h2, #h2, #myP, #myP2, #myP3, #titolo2, #timerDisplay{
    color: chocolate; /* chocolate color */
  }

  h2 ,#tit3, label{
    color: #e2ba1f; /* goldenrod color */

  }

 #caloriesBurned {
  color: #e2ba1f; /* goldenrod color */
font-size:xx-large;

 }